Repository ehdrhelr/baseball, pull requests merged in 2021-05, with the labels that each got.

#1 스프링 부트 초기 설정
  .gitignore
  BE/baseball/build.gradle
  BE/baseball/gradle/wrapper/gradle-wrapper.jar
  BE/baseball/gradle/wrapper/gradle-wrapper.properties
  BE/baseball/gradlew
  BE/baseball/gradlew.bat
  BE/baseball/settings.gradle
  BE/baseball/src/main/java/team06/baseball/BaseballApplication.java
  BE/baseball/src/main/resources/application.properties
  BE/baseball/src/test/java/team06/baseball/BaseballApplicationTests.java
Labels: BE

#11 스프링 & DB 연결
  BE/baseball/src/main/java/team06/baseball/domain/Defense.java
  BE/baseball/src/main/java/team06/baseball/domain/Game.java
  BE/baseball/src/main/java/team06/baseball/domain/Inning.java
  BE/baseball/src/main/java/team06/baseball/domain/Offense.java
  BE/baseball/src/main/java/team06/baseball/domain/Player.java
  BE/baseball/src/main/java/team06/baseball/domain/Team.java
  BE/baseball/src/main/java/team06/baseball/domain/User.java
  BE/baseball/src/main/resources/application.properties
  BE/baseball/src/main/resources/data.sql
  BE/baseball/src/main/resources/schema.sql
Labels: BE

#16 [iOS] 로그인 화면 + 게임 선택 화면 + 게임 진행 화면
  iOS/baseball-game/baseball-game.xcodeproj/project.pbxproj
  iOS/baseball-game/baseball-game.xcodeproj/project.xcworkspace/xcuserdata/song.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/baseball-game/baseball-game/AppCycle/SceneDelegate.swift
  iOS/baseball-game/baseball-game/Base.lproj/Main.storyboard
  iOS/baseball-game/baseball-game/GamePlay/GamePlayViewController.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/GameManagable.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/GameManager.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/Pitch.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/Player.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/Turn.swift
  iOS/baseball-game/baseball-game/GamePlay/SelectPitcher/SelectPitcherViewController.swift
  iOS/baseball-game/baseball-game/GamePlay/View/BatterInfoView.swift
  iOS/baseball-game/baseball-game/GamePlay/View/GamePlay.storyboard
  iOS/baseball-game/baseball-game/GamePlay/View/PitchListTableViewCell.swift
  iOS/baseball-game/baseball-game/GamePlay/View/PitcherInfoView.swift
  iOS/baseball-game/baseball-game/GamePlay/View/TeamScoreView.swift
  iOS/baseball-game/baseball-game/GamePlay/ViewModel/GamePlayViewModel.swift
  iOS/baseball-game/baseball-game/Info.plist
  iOS/baseball-game/baseball-game/Network/Network.swift
  iOS/baseball-game/baseball-game/Selection/LoginViewController.swift
  iOS/baseball-game/baseball-game/Selection/Model/Game.swift
  iOS/baseball-game/baseball-game/Selection/Model/GameInfo.swift
  iOS/baseball-game/baseball-game/Selection/Model/Team.swift
  iOS/baseball-game/baseball-game/Selection/SelectionViewController.swift
  iOS/baseball-game/baseball-game/Selection/View/GameCell.swift
  iOS/baseball-game/baseball-game/Selection/View/GameCell.xib
  iOS/baseball-game/baseball-game/Selection/ViewModel/SelectViewModel.swift
  iOS/baseball-game/baseball-game/ViewController.swift
Labels: iOS

#24 [#10] 갈 길이 멀지만 굵직한 기능은 어느정도 되는 것 같습니다.
  BE/baseball/.travis.yml
  BE/baseball/build.gradle
  BE/baseball/src/main/java/team06/baseball/BaseballApplication.java
  BE/baseball/src/main/java/team06/baseball/controller/GamesController.java
  BE/baseball/src/main/java/team06/baseball/controller/TeamsController.java
  BE/baseball/src/main/java/team06/baseball/domain/Defense.java
  BE/baseball/src/main/java/team06/baseball/domain/Game.java
  BE/baseball/src/main/java/team06/baseball/domain/Inning.java
  BE/baseball/src/main/java/team06/baseball/domain/Offense.java
  BE/baseball/src/main/java/team06/baseball/domain/Player.java
  BE/baseball/src/main/java/team06/baseball/domain/Team.java
  BE/baseball/src/main/java/team06/baseball/dto/ApiResult.java
  BE/baseball/src/main/java/team06/baseball/dto/request/TeamSelectRequestDto.java
  BE/baseball/src/main/java/team06/baseball/dto/response/GameListResponseDto.java
  BE/baseball/src/main/java/team06/baseball/dto/response/GamesResponseDto.java
  BE/baseball/src/main/java/team06/baseball/dto/response/game/process/BallChangedResponseDto.java
  BE/baseball/src/main/java/team06/baseball/dto/response/game/process/BaseChangedResponseDto.java
  BE/baseball/src/main/java/team06/baseball/dto/response/game/process/BaseResponseDto.java
  BE/baseball/src/main/java/team06/baseball/dto/response/game/process/InningChangedResponseDto.java
  BE/baseball/src/main/java/team06/baseball/dto/response/game/process/NewPitchResponseDto.java
  BE/baseball/src/main/java/team06/baseball/dto/response/game/process/ScoreResponseDto.java
  BE/baseball/src/main/java/team06/baseball/dto/response/game/process/TotalPitchResultResponseDto.java
  BE/baseball/src/main/java/team06/baseball/dto/response/game/start/GameStartResponseDto.java
  BE/baseball/src/main/java/team06/baseball/dto/response/game/start/InningStartResponseDto.java
  BE/baseball/src/main/java/team06/baseball/dto/response/game/start/PlayerStartResponseDto.java
  BE/baseball/src/main/java/team06/baseball/repository/DefenseRepository.java
  BE/baseball/src/main/java/team06/baseball/repository/GamesRepository.java
  BE/baseball/src/main/java/team06/baseball/repository/InningsRepository.java
  BE/baseball/src/main/java/team06/baseball/repository/OffenseRepository.java
  BE/baseball/src/main/java/team06/baseball/repository/PlayersRepository.java
  BE/baseball/src/main/java/team06/baseball/repository/TeamsRepository.java
  BE/baseball/src/main/java/team06/baseball/service/GamesService.java
  BE/baseball/src/main/java/team06/baseball/service/InningsService.java
  BE/baseball/src/main/resources/application.properties
  BE/baseball/src/main/resources/data.sql
  BE/baseball/src/main/resources/schema.sql
  BE/baseball/src/test/java/team06/baseball/BaseballApplicationTests.java
Labels: BE, enhancement

#26 [iOS] PR review 반영
  iOS/baseball-game/baseball-game.xcodeproj/project.pbxproj
  iOS/baseball-game/baseball-game/AppCycle/SceneDelegate.swift
  iOS/baseball-game/baseball-game/ControllerFactory.swift
  iOS/baseball-game/baseball-game/GamePlay/GamePlayViewController.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/GameManagable.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/GameManager.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/Pitch.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/Player.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/Turn.swift
  iOS/baseball-game/baseball-game/GamePlay/View/GamePlay.storyboard
  iOS/baseball-game/baseball-game/GamePlay/View/PitchListTableViewCell.swift
  iOS/baseball-game/baseball-game/GamePlay/ViewModel/GamePlayViewModel.swift
  iOS/baseball-game/baseball-game/IdentifierReusable.swift
  iOS/baseball-game/baseball-game/Network/Network.swift
  iOS/baseball-game/baseball-game/Selection/LoginViewController.swift
  iOS/baseball-game/baseball-game/Selection/SelectionViewController.swift
  iOS/baseball-game/baseball-game/Selection/View/GameCell.swift
  iOS/baseball-game/baseball-game/Selection/ViewModel/SelectViewModel.swift
Labels: iOS

#31 [iOS] 2차 review 반영
  iOS/baseball-game/baseball-game.xcodeproj/xcshareddata/xcschemes/baseball-game.xcscheme
  iOS/baseball-game/baseball-game/Selection/SelectionViewController.swift
  iOS/baseball-game/baseball-game/Selection/View/GameCell.swift
  iOS/baseball-game/baseball-game/Selection/ViewModel/SelectViewModel.swift
Labels: iOS

#32 [iOS] 최종 결과물 dev/iOS 브랜치에 반영
  iOS/baseball-game/baseball-game.xcodeproj/project.pbxproj
  iOS/baseball-game/baseball-game.xcodeproj/project.xcworkspace/xcuserdata/song.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/baseball-game/baseball-game/Assets.xcassets/BallCounter/Back.colorset/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/BallCounter/Ball.colorset/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/BallCounter/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/BallCounter/CounterBorder.colorset/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/BallCounter/Out.colorset/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/BallCounter/Strike.colorset/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/BallCounter/Text.colorset/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/Ground/Base.colorset/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/Ground/BaseSelected.colorset/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/Ground/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/Ground/GroundBorder.colorset/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/Ground/GroundBrown.colorset/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/Ground/GroundGreen.colorset/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/Ground/Home.colorset/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/Player/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/Player/PlayerBody.colorset/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/Player/PlayerBorder.colorset/Contents.json
  iOS/baseball-game/baseball-game/Assets.xcassets/Player/PlayerFace.colorset/Contents.json
  iOS/baseball-game/baseball-game/GamePlay/GamePlayViewController.swift
  iOS/baseball-game/baseball-game/GamePlay/GroundGraphics/BallCountView.swift
  iOS/baseball-game/baseball-game/GamePlay/GroundGraphics/GroundView.swift
  iOS/baseball-game/baseball-game/GamePlay/GroundGraphics/PlayerLayer.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/BallCounter.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/BaseManager.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/GameDTO.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/GameInformable.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/GameManager.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/GameUpdatable.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/Inning.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/Pitch.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/Player.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/Score.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/Teams.swift
  iOS/baseball-game/baseball-game/GamePlay/View/AlertFactory.swift
  iOS/baseball-game/baseball-game/GamePlay/View/GamePlay.storyboard
  iOS/baseball-game/baseball-game/GamePlay/ViewModel/GamePlayViewModel.swift
  iOS/baseball-game/baseball-game/Network/Network.swift
  iOS/baseball-game/baseball-game/Selection/Model/DataDTO.swift
  iOS/baseball-game/baseball-game/Selection/ViewModel/SelectViewModel.swift
Labels: iOS

#33 [iOS] 2차 PR 피드백 반영
  iOS/baseball-game/baseball-game.xcodeproj/project.pbxproj
  iOS/baseball-game/baseball-game.xcodeproj/project.xcworkspace/xcuserdata/song.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/baseball-game/baseball-game/GamePlay/GamePlayViewController.swift
  iOS/baseball-game/baseball-game/GamePlay/GroundGraphics/Collection + subscript.swift
  iOS/baseball-game/baseball-game/GamePlay/GroundGraphics/GroundView.swift
  iOS/baseball-game/baseball-game/GamePlay/Model/GameManager.swift
  iOS/baseball-game/baseball-game/GamePlay/ViewModel/GamePlayViewModel.swift
  iOS/baseball-game/baseball-game/Network/Network.swift
  iOS/baseball-game/baseball-game/Selection/SelectionViewController.swift
Labels: iOS
